#marco {
    display: none;
    position: relative;
    width: 1200px;
    height: 700px;
    background-color: black;
    border-radius: 20px;
    top: 10%;
    left: 15%;
}   

#menu_lateral{
    position: relative;
    width: 200px;
    height: 670px;
    top: 2%;
    background-color: rgb(26, 25, 25);
    left: 1%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#menu_imagen{
    position: relative;
    border-radius: 10000px;
    width: 100px;
    top: 1%;
    left: 25%;
}

.boton_lateral {
    position: absolute;
    color: white;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.boton_lateral:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .boton_lateral:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

#boton_perfil{
    position: relative;
    top: 7%;
    width: 100px;
    left: 25%;
}
#boton_lspd{
    position: relative;
    top: 9%;
    width: 100px;
    left: 25%;
}
#boton_ems{
    position: relative;
    top: 11%;
    width: 100px;
    left: 25%;
}
#boton_meca{
    position: relative;
    top: 13%;
    width: 100px;
    left: 25%;
}
#boton_gestion{
    position: relative;
    top: 14%;
    width: 100px;
    left: 25%;
}
#boton_salir{
    position: relative;
    top: 45%;
    width: 100px;
    left: 25%;
}

#boton_ajustes{
    position: relative;
    top: 40%;
    width: 100px;
    left: 25%;
}

#marco_apps {
    position: absolute;
    overflow: auto;
    width: 978px;
    height: 670px;
    top: 2%;
    background-color: rgb(22, 22, 24);
    right: 1%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#app_perfil {
    display: none;
}

#app_bienvenida {
    display:block;
    text-align: center;
    font-family: 'Calibri';
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    color: white;
    position: relative;
    top: 45%;
    font-size: 50px;
    font-weight: bolder;
}

#perf_title{
    position: absolute;
    top: 2%;    
    padding: 20px;
    font-family: 'Calibri';
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

#info_perfil{
    position: absolute;
    box-align:center;
    left: 50%;
    top: 12%;
    color: white;
    font-family: 'Calibri';
}

.boton_sup {
    position: relative;
    color: white;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.boton_sup:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.boton_sup:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
#barrasup_perfil{
    position: absolute;
    top:35%;
    left:25%;
}

#container_vehicles{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:45%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#veh_content{
    height: 300px;
    width: 99%;
}

.veh_header{
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 20px;
}


.veh_content{
    text-align: center;
    border-top: 1px solid white;
}
#veh_header_container{
    border-bottom: 2px solid white;
    padding:10px;
}

#container_properties{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:45%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#prop_content{
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    width: 100%;
}

.prop_header{
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 20px;
}


.prop_content{
    text-align: center;
    border-top: 1px solid white;
}
#prop_header_container{
    border-bottom: 2px solid white;
    padding:10px;
}

#container_delitos{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:45%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#delitos_content{
    height: 300px;
    width: 99%;
}

.delitos_header{
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 20px;
}


.delitos_content{
    text-align: center;
    border-top: 1px solid white;
}
#delitos_header_container{
    border-bottom: 2px solid white;
    padding:10px;
}

#app_lspd{
    display: none;
}

#lspd_princ_logo{
    border-radius: 10000px;
    position: absolute;
    top:10%;
    left:35%;
    height: 300px;
}

#lspd_apps_but{
    position: absolute;
    top:60%;
    left:20%;
}

#lspd_fichar{
    width: 978px;
    height: 670px;
    display:none;
}

.input_text{
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color:white;
    font-family: 'Calibri';
    
}
#input_lspd_bpers {
    font-size: 20px;
    position: absolute;
    top:6%;
    left:15%;
    width: 500px;
    height: auto;
}

.input_text ::placeholder{
    color:white;
}
#lspd_bpers_search{
    position: absolute;
    top:5%;
    left:70%;
}


#container_results_bpers{
    display: block;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 500px;
    width: 99%;
    top:20%;
    left: 0.5%;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#repers_content{
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
    width: 100%;
}
#repers_header_container{
    width: 100%;
}

.repers_header{
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 1px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    width: 35%;
}


.repers_content{
    position: relative;
    border-bottom: 1px solid white;
}


#lspd_perf_pers{
    display: none;
}

#info_perfil_lspd{
    position: absolute;
    box-align:center;
    left: 40%;
    top: 12%;
    color: white;
    font-family: 'Calibri';
}
#lspd_plyFoto{
    position: absolute;
    border-radius: 10000px;
    width: 250px;
    top: 3%;
    left: 5%;
}

#container_actualizar_foto{
    position: absolute;
    top: 2%;
    right:10%;
}

#input_lspd_actfoto{
    width: 400px;
    font-size: 20px;
}

#volver_perf_lspd{
    position: absolute;
    display: none;
    top:2%;
    right:2%;
}

#volver_perf_lspd_veh{
    position: absolute;
    display: none;
    top:2%;
    right:2%;
}

#lspd_bveh_search{
    position: absolute;
    top:5%;
    left:70%;
}


#container_results_bveh{
    display: block;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 500px;
    width: 99%;
    top:20%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#reveh_content{
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
    width: 100%;
}

#reveh_header_container{
    width: 100%;
}

.reveh_header{
    font-weight: bolder;
    text-align: left;
    font-size: 20px;
    width:50%;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    border-bottom: 1px solid white;
}


.reveh_content{
    text-align: left;
    border-bottom: 1px solid white;
}


#input_lspd_bveh {
    font-size: 20px;
    position: absolute;
    top:6%;
    left:15%;
    width: 500px;
    height: auto;
}

#lspd_perf_container_bsup{
    position: absolute;
    top:40%;
    right:20%;
}
#lspd_perf_container_blat{
    display: none;
    position: absolute;
    top:40%;
    left:1%;
}

#lspd_tabla_hist{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#lspd_hist_content{
    height: 300px;
    width: 99%;
}

.lspd_hist_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 14.3%;
}

.lspd_hist_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#lspd_tabla_notas{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#lspd_notas_content{
    height: 300px;
    width: 99%;
}

.lspd_notas_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 25%;
}

.lspd_notas_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#lspd_tabla_veh{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#lspd_veh_content{
    height: 300px;
    width: 99%;
}

.lspd_veh_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 50%;
}

.lspd_veh_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#lspd_tabla_prop{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#lspd_prop_content{
    height: 300px;
    width: 99%;
}

.lspd_prop_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 50%;
}

.lspd_prop_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#lspd_cp_search{
    position:absolute;
    top: 5%;
    left:20%;
}
#input_lspd_cp{
    width: 500px;
    height: 30px;
    font-size: 17px;
}
#lspd_cp_table{
    position: absolute;
    top:13%;
    left:0.5%;
    height: 570px;
    width: 99%;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}

.cp_table_content{
    border-bottom: 1px solid white;
    padding: 5px;
}

.cp_table_title{
    border-bottom: 1px solid white;
    padding: 10px;
    font-weight: bolder;
    font-size:20px;
}

#popUp_nuevo_delito{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 500px;
    width: 900px;
    top:10%;
    left:4%;
}
#cerrar_pop_up{
    position: absolute;
    top: 2%;
    right: 0%;
}

.close_pop_up{
    position: relative;
    color: white;
    padding: 10px;
    border: solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.close_pop_up:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.close_pop_up:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#lspd_delitos_add{
    position: absolute;
    top:2%;
    left:2%;
}
#lspd_delitos_search{
    position:absolute;
    top:13%;
    left:2%;
}

#input_lspd_delitos_search{
    font-size: 16px;
    width:725px;
}

#input_lspd_delitos_time{
    font-size: 16px;
    width:140px;
}

#input_lspd_delitos_label{
    font-size: 16px;
    width:440px;
}

#input_lspd_delitos_price{
    font-size: 15px;
    width:140px;
}

#lspd_add_delito_table{
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:25%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#lspd_add_delito_content{
    height: 300px;
    width: 99%;
}

.lspd_add_delito_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 20%;
}

.lspd_add_delito_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#popUp_busca{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 45px;
    width: 962px;
    top:30%;
    left:1%;
}

#lspd_busqueda_add{
    position: absolute;
    top:2%;
    left:0.5%;
}


#input_lspd_busqueda{
    font-size: 16px;
    width:730px;
}

#popUp_nueva_nota{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 45px;
    width: 900px;
    top:30%;
    left:4%;
}

#lspd_nota_add{
    position: absolute;
    top:2%;
    left:0%;
}


#input_lspd_nota{
    font-size: 16px;
    width:730px;
}

#popUp_danger{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 45px;
    width: 962px;
    top:30%;
    left:1%;
}

#lspd_danger_add{
    position: absolute;
    top:2%;
    left:0.5%;
}


#input_lspd_danger{
    font-size: 16px;
    width:730px;
}

#boton_editar_busca{
    display: none;
}

#boton_poner_en_busca{
    display: block;
}

#boton_editar_busca{
    display: none;
}

#boton_poner_danger{
    display: block;
}

#boton_editar_danger{
    display: none;
}

#lspd_buscaycap{
    display: none;
}

.busqueda_container{
    width:400px;
    margin: 10px;
    height:325px;
    border-radius: 10px;
    display: inline-table;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
}

.imagen_byq{
    border-radius: 10000px;
    position: relative;
    margin:10px;
    top:5%;
    height: 200px;
}

.name_byq{
    font-family: 'Calibri';
    position:relative;
    text-align: center;
    font-size: 30px;
    margin:10px;
    text-shadow: rgb(255, 255, 255) 1px 0 5px;
    color:white;
}

#app_ems{
    display: none;
}

#ems_princ_logo{
    border-radius: 10000px;
    position: absolute;
    top:10%;
    left:35%;
    height: 300px;
}

#ems_apps_but{
    position: absolute;
    top:60%;
    left:35%;
}

#ems_fichar{
    width: 978px;
    height: 670px;
    display:none;
}

#ems_trt_search{
    position:absolute;
    top: 5%;
    left:20%;
}
#input_ems_trt{
    width: 500px;
    height: 30px;
    font-size: 17px;
}
#ems_trt_table{
    position: absolute;
    top:13%;
    left:0.5%;
    height: 570px;
    width: 99%;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}

.trt_table_content{
    border-bottom: 1px solid white;
    padding: 5px;
}

.trt_table_title{
    border-bottom: 1px solid white;
    padding: 10px;
    font-weight: bolder;
    font-size:20px;
}

#input_ems_bpers {
    font-size: 20px;
    position: absolute;
    top:6%;
    left:15%;
    width: 500px;
    height: auto;
}

#ems_bpers_search{
    position: absolute;
    top:5%;
    left:70%;
}

#info_perfil_ems{
    position: absolute;
    box-align:center;
    left: 40%;
    top: 12%;
    color: white;
    font-family: 'Calibri';
}
#ems_plyFoto{
    position: absolute;
    border-radius: 10000px;
    width: 250px;
    top: 3%;
    left: 5%;
}

#volver_perf_ems{
    position: absolute;
    display: block;
    top:2%;
    right:2%;
}

#ems_perf_container_blat{
    display: block;
    position: absolute;
    top:40%;
    left:1%;
}

#ems_tabla_hist{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#ems_hist_content{
    height: 300px;
    width: 99%;
}

#ems_tabla_notes{
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#ems_notes_content{
    height: 300px;
    width: 99%;
}
#popUp_nuevo_trat{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 500px;
    width: 900px;
    top:10%;
    left:4%;
}

.ems_hist_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 25%;
}

.ems_hist_content{
    text-align: center;
    border-bottom: 1px solid white;
}

.ems_notes_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 25%;
}

.ems_notes_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#ems_trat_add{
    position: absolute;
    top:2%;
    left:2%;
}
#ems_trat_search{
    position:absolute;
    top:13%;
    left:2%;
}

#input_ems_trat_search{
    font-size: 16px;
    width:725px;
}


#input_ems_trat_label{
    font-size: 16px;
    width:523px;
}

#input_ems_trat_price{
    font-size: 15px;
    width:200px;
}

#ems_add_trat_table{
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:25%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#ems_add_trat_content{
    height: 300px;
    width: 99%;
}

.ems_add_trat_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 20%;
}

.ems_add_trat_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#ems_perf_container_blat{
    display: none;
    position: absolute;
    top:40%;
    left:1%;
}

#ems_perf_container_bsup{
    position: absolute;
    top:40%;
    right:30%;
}

#container_historial_med{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:45%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#med_content{
    height: 300px;
    width: 99%;
}

.med_header{
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 20px;
}


.med_content{
    text-align: center;
    border-top: 1px solid white;
}
#med_header_container{
    border-bottom: 2px solid white;
    padding:10px;
}

#popUp_ems_nueva_nota{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 45px;
    width: 900px;
    top:30%;
    left:4%;
}

#ems_nota_add{
    position: absolute;
    top:2%;
    left:0%;
}


#input_ems_nota{
    font-size: 16px;
    width:730px;
}

#ajustes{
    display: none;
}

#ajustes_scale{
    font-family: Calibri;
    font-size: 20px;
    color:white;
    position:absolute;
    top:10%;
    left:30%;
}

#size_title{
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    display: inline-block;
    font-size: 23px;
}

#size_select{
    background-color: rgb(39, 39, 44);
    display: inline-block;
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    border: 1px solid  rgb(39, 39, 44);
    border-radius: 7px;
    font-size: 23px;
    color:white;

}


#aplicar_size{
    display: inline-block;
}

#app_gestion_empresas{
    display: none;
    color:white;
    font-family: Calibri;
    text-align: center;
}

#g_tabla_empleados{
    position: absolute;
    top:2.5%;
    left: 1.5%;
    width: 48%;
    height: 95%;
    border-radius: 7px;
    background-color: rgb(39, 39, 44);
}

#g_tabla_items{
    position: absolute;
    top:2.5%;
    right: 1.5%;
    width: 48%;
    height: 95%;
    border-radius: 7px;
    background-color: rgb(39, 39, 44);
}

#g_empleados_content{
    width: 100%;
    height: 89%;
    overflow-y: scroll;
}

#g_items_content{
    width: 100%;
    height: 89%;
    overflow-y: scroll;
}

.g_content{
    font-size: 15px;
    padding: 5px;
    margin-left:10px;
    border-bottom: solid 1px white;
}

.g_header{
    font-size:20px;
    text-shadow: 0 0 10px white;
    padding-bottom: 5px;
    border-bottom: solid 1px white;
}


#boton_meca{
    position: relative;
    top: 11%;
    width: 100px;
    left: 25%;
}

#app_meca{
    display: none;
}

#meca_princ_logo{
    border-radius: 10000px;
    position: absolute;
    top:10%;
    left:35%;
    height: 300px;
}

#meca_apps_but{
    position: absolute;
    top:60%;
    left:35%;
}

#meca_fichar{
    width: 978px;
    height: 670px;
    display:none;
}

#meca_trt_search{
    position:absolute;
    top: 5%;
    left:20%;
}
#input_meca_trt{
    width: 500px;
    height: 30px;
    font-size: 17px;
}
#meca_trt_table{
    position: absolute;
    top:13%;
    left:0.5%;
    height: 570px;
    width: 99%;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}

#input_meca_bpers {
    font-size: 20px;
    position: absolute;
    top:6%;
    left:15%;
    width: 500px;
    height: auto;
}

#meca_bpers_search{
    position: absolute;
    top:5%;
    left:70%;
}

#info_perfil_meca{
    position: absolute;
    box-align:center;
    left: 40%;
    top: 12%;
    color: white;
    font-family: 'Calibri';
}
#meca_plyFoto{
    position: absolute;
    border-radius: 10000px;
    width: 250px;
    top: 3%;
    left: 5%;
}

#volver_perf_meca{
    position: absolute;
    display: block;
    top:2%;
    right:2%;
}

#meca_perf_container_blat{
    display: block;
    position: absolute;
    top:40%;
    left:1%;
}

#meca_tabla_hist{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#meca_hist_content{
    height: 300px;
    width: 99%;
}

#meca_tabla_notes{
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:47%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#meca_notes_content{
    height: 300px;
    width: 99%;
}
#popUp_nuevo_fine{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 500px;
    width: 900px;
    top:10%;
    left:4%;
}

.meca_hist_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 25%;
}

.meca_hist_content{
    text-align: center;
    border-bottom: 1px solid white;
}

.meca_notes_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 25%;
}

.meca_notes_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#meca_trat_add{
    position: absolute;
    top:2%;
    left:2%;
}
#meca_trat_search{
    position:absolute;
    top:13%;
    left:2%;
}

#input_meca_trat_search{
    font-size: 16px;
    width:725px;
}


#input_meca_trat_label{
    font-size: 16px;
    width:523px;
}

#input_meca_trat_price{
    font-size: 15px;
    width:200px;
}

#meca_add_trat_table{
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:25%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#meca_add_trat_content{
    height: 300px;
    width: 99%;
}

.meca_add_trat_header{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    padding: 2px;
    width: 20%;
}

.meca_add_trat_content{
    text-align: center;
    border-bottom: 1px solid white;
}

#meca_perf_container_blat{
    display: none;
    position: absolute;
    top:40%;
    left:1%;
}

#meca_perf_container_bsup{
    position: absolute;
    top:40%;
    right:30%;
}

#container_historial_med{
    display: none;
    position:absolute;
    background-color: rgb(39, 39, 44);
    box-shadow: rgb(39, 39, 44) 1px 0 10px;
    height: 350px;
    width: 99%;
    top:45%;
    left: 0.5%;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    border-radius: 5px;
}
#med_content{
    height: 300px;
    width: 99%;
}

.med_header{
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 20px;
}


.med_content{
    text-align: center;
    border-top: 1px solid white;
}
#med_header_container{
    border-bottom: 2px solid white;
    padding:10px;
}

#popUp_meca_nueva_nota{
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position:absolute;
    background-color: rgb(27, 25, 25);
    border-radius: 7px;
    height: 45px;
    width: 900px;
    top:30%;
    left:4%;
}

#meca_nota_add{
    position: absolute;
    top:2%;
    left:0%;
}


#input_meca_nota{
    font-size: 16px;
    width:730px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
